html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

*{
	margin: 0;
	padding:0;
	transition: all 1s;
}
#accordion {
	margin: 40px auto;
	height:400px;
	width: 500px;
	border: 1px solid rgb(0, 193, 214);
	overflow:hidden;
}

section{
	overflow: hidden;
	height: 300px;

}
 .hidden {
	height:50px;
	overflow:hidden;
}

h3 {
	height: 50px;
	width: 100%;
	border: 1px solid black;
	background: rgb(0, 193, 214);
	text-align: center;
	color: white;
	
}

#accordion .pointer {
  padding:0;
  margin:10px 0 0 6px;
  line-height:20px;
  width:13px;
  position:absolute;
}

p{
	width: 100%;
	padding: 0 10px;
	margin: 0px;
}

 .hidden {
	height:50px;
}
