html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

*{
	margin: 0;
	padding:0;
	transition: all .5s;
	font-weight: normal;
	font-family: "arial", "verdana", sans-serif;
	color:#666;
}
#accordion {
	margin: 40px auto;
	height:350px;
	width: 500px;
	border: 1px solid rgb(0, 193, 214);
	overflow:hidden;
}

section{
	overflow: hidden;
	height: 250px;

}
 .hidden {
	height:50px;
	overflow:hidden;
}

h3 {
	height: 50px;
	width: 100%;
	border: 1px solid rgb(0, 193, 214);
	background: rgb(0, 193, 214);
	text-align: left;
	color: white;
	padding: 5px 0 0 5px;
	
}

#accordion .pointer {
  padding:0;
  margin:10px 0 0 6px;
  line-height:20px;
  width:13px;
  position:absolute;
}

p{
	width: 100%;
	padding: 10px 10px;
	margin: 0px;
	text-align: justify;
}

 .hidden {
	height:50px;
}

.divColor{
   cursor: pointer;   
   background: rgb(0,218,236);
}

